nav {
  width: 100%;
  padding: 25px;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.708);
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
}

a{
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
}
