#bookDetailsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

h2{
    font-size: 30px;
}

p{
    font-size: 18px;
    text-align: center;
    width: 80%;
}

#bookCover{
    width: 400px;
    margin: 20px;
}
