#booksContainer{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 40px;
    column-gap: 40px;
    border-radius: 20px;
    padding: 30px;
}

h2{
    font-size: 20px;
    padding: 20px;
}

img{
    background-color: rgb(11, 11, 125);
    padding: 30px;
    width: 100%;
}

#book{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    padding: 10px;
}

#title{
    color: blue;
    font-size: 25px;
}
